{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static',filename= 'assets/img/home-bg.jpg') }} ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <div class="site-heading">
                    <h1>{{ params['blog_name'] }}</h1>
                    <span class="subheading">{{ params['tag_line'] }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>Basic action</h1>
           <a href="/dashboard" ><button class="btn btn-primary"> Dashboard</button></a>
           <a href="/logout" ><button class="btn btn-primary"> Logout </button></a>

            <h1>Add/Edits posts</h1>

            <form name="sentMessage" id="contactForm" action="/edit/{{sno}}" method="post" data-sb-form-api-token="API_TOKEN">
                <div class="form-floating">
                    <input class="form-control" name="title" id="title" type="text" placeholder="Title" value="{{post.title}}"
                           data-sb-validations="required"/>
                    <label for="title">Title</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A title is required.</div>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="tline" name="tline" type="text" placeholder="Tagline" value="{{post.tagline}}"
                           data-sb-validations="required,tagline"/>
                    <label for="tline">Tagline</label>
                    <div class="invalid-feedback" data-sb-feedback="email:required">An tagline is required.</div>

                </div>
                <div class="form-floating">
                    <input class="form-control" id="slug" name="slug" type="text"
                           placeholder="Slug" value="{{post.slug}}"
                           data-sb-validations="required"/>
                    <label for="slug">Slug</label>
                    <div class="invalid-feedback" data-sb-feedback="phone:required">A Slug number is required.
                    </div>
                </div>
                <div class="form-floating">
                    <textarea rows="5" class="form-control" id="content" name="content"
                                      placeholder="Enter your content here..."
                                      style="height: 12rem" data-sb-validations="required" >{{post.content}}
                    </textarea>
                    <label for="content">Content</label>
                    <div class="invalid-feedback" data-sb-feedback="message:required">A content is required.
                    </div>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="img_file" name="img_file" type="text"
                           placeholder="Image name with type" value="{{post.img_file}}"
                           data-sb-validations="required"/>
                    <label for="img_file">Image File</label>
                    <div class="invalid-feedback" data-sb-feedback="phone:required">Image File is required.
                    </div>
                </div>
                <br/>
                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">
                        <div class="fw-bolder">Data uploaded successful!</div>
                        <br/>
                        <a
                                href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                    </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error Uploading!</div>
                </div>
                <!-- Submit Button-->
                <button class="btn btn-primary text-uppercase " id="submitButton"
                        type="submit">Submit
                </button>
            </form>


        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{ url_for('static', filename= 'js/scripts.js') }}"></script>
{% endblock %}